services:
  app:
    build: .
    volumes:
      - .:/app
    env_file:
      - ./.env
    ports:
      - "8003:8003"
    container_name: "label_x"
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6383:6379"
